@import url('https://fonts.googleapis.com/css?family=ABeeZee|Offside|Ubuntu|Righteous');

header {
     width: 100%; 
     background-color: #22333b; 
     height: 50px; 
     position: fixed; 
     top: 0px; 
     left: 0px; 
     z-index: 1;
}

header #logo_header {
     height: 50px;
}

header .texto_drop{
  font-family: 'Righteous', sans-serif;
  text-align: center;

}

header .texto_drop:hover {
   border-left: solid;
     border-right: solid;
     border-color: #49A078;
     border-width: 5px;
     padding-left: 5px;
     padding-right: 5px;
     transition-delay: 0.2s;
     transition-duration: 0.2s;

}

header ul {
      list-style: none;
      position: relative;
      float: right;
      top: -16px;
}

header li {
     display: inline-block;
     background-color: #22333b; 
     padding: 15px 10px 15px 10px;
     font-family: 'Righteous', sans-serif;
} 

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #22333b;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#imagem_usuario {
  height: 23px;
}

header a {
    text-decoration: none;
    color: #ffffff;
}


header li:hover {
     border-left: solid;
     border-right: solid;
     border-color: #49A078;
     border-width: 5px;
     padding-left: 5px;
     padding-right: 5px;
     color: #ffffff;
     transition-delay: 0.2s;
     transition-duration: 0.2s;
}
#cadastro_animal {
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0px; 
    height: 600px;
    background-image:  url(../imagens/wallpaper.jpg);
    background-size: 100%;
}

#conteudo {
    position: absolute;
    width: 50%;
    right: 20%;
    left: 20%;
    background-color: #6B9080;
    height: 400px;
    top: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

#cadastro_animal h1 {
    font-size: 40px;
    font-family: 'Righteous', sans-serif; 
    color: #22333b;
}

table {
    margin: 0 auto;
}


form {
    margin: 0 auto;
    width: 500px;
}

label {
    color: #22333b;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
}

input {
    font-size: 20px;
    color: #22333b;
    font-family: 'ABeeZee', sans-serif;
    width: 250px;
}

#button {
    width: 500px;
    padding-left: 10px;
}

#sexo {
    width: 20px;
}

#radio {
    font-size: 20px;
    color: #22333b;
    font-family: 'ABeeZee', sans-serif;
}

button {
    width: 164px;
    border-style: none;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
    background-color: #22333b;
    color: #ffffff;
}

footer {
    position: absolute;
    width: 100%; 
    background-color: #22333b; 
    height: 50px;
    left: 0px;
    bottom: 0px;
}