
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Offside|Ubuntu|Righteous');
header {
     width: 100%; 
     background-color: #22333b; 
     height: 50px; 
     position: fixed; 
     top: 0px; 
     left: 0px; 
     z-index: 1;
}

header img {
     height: 50px;
}

header ul {
      list-style: none;
      position: relative;
      float: right;
      top: -16px;
}

header li {
     display: inline-block;
     background-color: #22333b; 
     padding: 15px 10px 15px 10px;
     font-family: 'Righteous', sans-serif;
} 

header a {
    text-decoration: none;
    color: #ffffff;
}


header li:hover {
     border-left: solid;
     border-right: solid;
     border-color: #49A078;
     border-width: 5px;
     padding-left: 5px;
     padding-right: 5px;
     color: #ffffff;
     transition-delay: 0.2s;
     transition-duration: 0.2s;
}

#conteudo {
      position: absolute;
      top: 50px;
      width: 100%;
      left: 0px; 
}

#helpet {
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    top: 0px;
}

#helpet div {
    position: absolute;
    width: 50%;
    right: 20%;
    left: 20%;
    background-color: #6B9080;
    height: 220px;
    bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

#helpet video {
    position: absolute;
    left: 25%;
    right: 25%;
}

#helpet h1 {
    font-size: 40px;
     font-family: 'Righteous', sans-serif; 
     color: #22333b;
}

#helpet p {
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
    color: #22333b;
    text-align: justify;
}

#helpet a {
    color: #ffffff;
}

#animais {
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: #216869;
    top: 600px;
}

#animais h1 {
    font-size: 40px;
     font-family: 'Righteous', sans-serif; 
     color: #ffffff;
}

#amimais_conteudo {
    position: absolute;
    width: 50%;
    right: 20%;
    left: 20%;
    background-color: #216869;
    height: 500px;
    bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#amimais_conteudo div:hover {
    background-color: #6B9080;
}
#adocao {
    position: relative;
    float: left;
    width: 49%;
    height: 70%;
    background-color: #22333b;
}

#adocao img {
    left: 20%;
    position: relative;
    width: 60%;
    top: 40px;
}

#adocao p {
    font-size: 20px;
    font-family: 'Righteous', sans-serif;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 40px;
}


#comprar {
    position: relative;
    float: right;
    width: 49%; 
    height: 70%;
    background-color: #22333b;   
}

#comprar img {
    left: 20%;
    position: relative;
    width: 60%;
    top: 40px;
}

#comprar p {
    font-size: 20px;
    font-family: 'Righteous', sans-serif;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 40px;
}

#contato {
    position: absolute;
      width: 100%;
      height: 600px;
     background-color: #49A078;
     top: 1200px;
}

#contato div {
    position: absolute;
    width: 50%;
    right: 20%;
    left: 20%;
    background-color: #49A078;
    height: 500px;
    bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#contato h1 {
    font-size: 40px;
    font-family: 'Righteous', sans-serif; 
    color: #22333b;
}

footer {
    position: absolute;
    width: 100%; 
    background-color: #22333b; 
    height: 50px;
    top: 1850px;
    left: 0px;
}
