
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Offside|Ubuntu|Righteous');

nav {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: #22333b;  
}

nav .nav-link, nav .navbar-brand {
  text-decoration: none;
  color: #ffffff;
}

nav .nav-link {
  padding-bottom: 3px;
  border-bottom: solid;
  border-color: #22333b;
  border-width: 5px;
}

nav .nav-link:hover {
  border-color: #49A078;
  color: #ffffff;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  text-decoration: none;
}

.navbar-toggler-icon {
  color: #fff;
}

/*
border-bottom: solid;
  border-color: #22333b;
  border-width: 5px;

.site-header a:hover {
  border-bottom: solid;
  border-color: #49A078;
  border-width: 5px;
  color: #ffffff;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  text-decoration: none;
}
 */

#conteudo {
      position: absolute;
      top: 50px;
      width: 100%;
      left: 0px; 
}

#helpet {
    position: absolute;
    width: 100%;
    height: 600px;
    background-image:  url(../imagens/wallpaper.jpg);
    background-size: 100%;
    top: 0px;
}

#helpet div {
    position: absolute;
    width: 50%;
    right: 20%;
    left: 20%;
    background-color: #6B9080;
    height: 220px;
    bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

#helpet h1 {
    font-size: 40px;
     font-family: 'Righteous', sans-serif; 
     color: #22333b;
}

#helpet p {
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
    color: #22333b;
    text-align: justify;
}

#helpet a {
    color: #ffffff;
}

#animais {
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: #216869;
    top: 600px;
}

#animais h1 {
    font-size: 40px;
     font-family: 'Righteous', sans-serif; 
     color: #ffffff;
}

#amimais_conteudo {
    position: absolute;
    width: 50%;
    right: 20%;
    left: 20%;
    background-color: #216869;
    height: 500px;
    bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#amimais_conteudo div:hover {
    background-color: #6B9080;
}
#adocao {
    position: relative;
    float: left;
    width: 49%;
    height: 70%;
    background-color: #22333b;
}

#adocao img {
    left: 20%;
    position: relative;
    width: 60%;
    top: 40px;
}

#adocao p {
    font-size: 20px;
    font-family: 'Righteous', sans-serif;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 40px;
}


#comprar {
    position: relative;
    float: right;
    width: 49%; 
    height: 70%;
    background-color: #22333b;   
}

#comprar img {
    left: 20%;
    position: relative;
    width: 60%;
    top: 40px;
}

#comprar p {
    font-size: 20px;
    font-family: 'Righteous', sans-serif;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: 40px;
}

#contato {
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: #49A078;
    top: 1200px;
}

#form {
    position: absolute;
    width: 50%;
    right: 20%;
    left: 20%;
    background-color: #49A078;
    height: 500px;
    bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

#contato h1 {
    font-size: 40px;
    font-family: 'Righteous', sans-serif; 
    color: #22333b;
}

form {
    width: 100%;
}

form div + div {
    margin-top: 10px;
}

label {
    color: #22333b;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
}

input {
    font-size: 20px;
    color: #22333b;
    font-family: 'ABeeZee', sans-serif;
    width: 100%;
}
textarea {
    font-size: 20px;
    color: #22333b;
    font-family: 'ABeeZee', sans-serif;
    width: 100%;
    height: 250px;
}

button {
    width: 50%;
    margin-left: 25%;
    border-style: none;
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
    background-color: #22333b;
    color: #ffffff;
}

footer {
    position: absolute;
    width: 100%; 
    background-color: #22333b; 
    height: 50px;
    top: 1850px;
    left: 0px;
}
